<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title  color="primary">Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Task" [(ngModel)]="todo.task"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="number" placeholder="Priority" [(ngModel)]="todo.priority"></ion-input>
    </ion-item>
  </ion-list>
  <!-- <div style="text-align: center;"> -->
  <ion-button style="padding-left: 20% " shape="round" expand="half" (click)="saveTodo()"  class="custom-btn"  routerDirection="backward">Save</ion-button>
  <ion-button shape="round" expand="half"  routerLink="/home"  class="custom-btn"  routerDirection="backward">Back</ion-button>
  <!-- </div> -->
</ion-content>